.modal {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
}
.modal__background {
  position: absolute;
  width: 100%;

  height: 100%;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.8);
}
.modal__main {
  height: 100%;
  display: flex;
  align-items: center;
  z-index: 1;
  justify-content: center;
}

@media screen and (max-width: 650px) {
  .modal__main {
    /* width: 70%; */
  }
}
