h1 {
  font-size: 32px;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: 'Source Sans Pro';
}

h2 {
  font-size: 24px;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: 'Source Sans Pro';
}

h3 {
  font-size: 18.72px;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: 'Source Sans Pro';
}

h4 {
  font-size: 16px;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: 'Source Sans Pro';
}

h5 {
  font-size: 13.28px;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: 'Source Sans Pro';
}

h6 {
  font-size: 12px;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: 'Source Sans Pro';
}

p {
  font-size: 16px;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: 'Source Sans Pro';
}

a {
  font-size: 16px;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: 'Source Sans Pro';
}

.about-data {
  margin-left: 24px;
}

@media screen and (min-device-width: 1000px) and (max-device-width: 1122px) {
  .about-data {
    margin-left: 15px;
  }
}

@media screen and (min-device-width: 766px) and (max-device-width: 1024px) {
  .about-data {
    margin-left: 8px;
  }
}

section {
  padding: 0 4rem;
}
@media (max-width: 768px) {
  section {
    padding: 0 1rem;
  }
}
section .main {
  max-width: 1300px;
  margin: 0 auto;
}

.cta-white {
  margin-top: 1rem;
  width: 172px;
  height: 56px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #3c4852;
  background-color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.cta-white:hover {
  color: #3c4852;
}

.headerbar {
  background-color: #fff;
}

.controls {
  display: flex;
  flex-direction: row;
  float: right;
}

@media only screen and (max-width: 768px) {
  .controls {
    display: none;
  }
}

.curson_pointer {
  cursor: pointer;
}

.sale-banner {
  display: flex;
  justify-content: center;
  margin-bottom: 104px;
}

@media screen and (min-width: 768px) {
  .mobiledev {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .saleweb {
    display: none;
  }
}

.qadropdown {
  width: 100%;
}

.leftArrow {
  transform: rotate(180deg);
}

.questionanswer {
  width: 100% !important;
  border: none !important;
}

.questionanswer .accordion-header .accordion-button {
  color: #3c4852 !important;
  padding: 1.5rem 0px !important;
  font-size: 24px !important;
  font-weight: 500 !important;
  border-bottom: 1px solid #dfdfdf !important;
}

@media only screen and (max-width: 768px) {
  .questionanswer .accordion-header .accordion-button {
    font-size: 18px !important;
    padding: 1rem 0px !important;
  }
}

/* STYLING FOR PAYMENT PLANS TABS */
.nav.nav-tabs.mb-3 > li {
  width: 33%;
}
.tab-pane {
  width: 100% !important;
}
.nav.nav-tabs.mb-3 > li > button {
  width: 100%;
}
.nav-link {
  color: black !important;
}
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover,
.nav-link .active {
  background-color: #035642 !important;
  color: white !important;
  height: 100%;
}

.nav-link {
  height: 100%;
}
