* {
  margin: 0;
  padding: 0;
  font-family: Source Sans Pro;
}

@media only screen and (min-width: 1023px) {
  div.mobile-nav {
    display: none;
  }
}

@media only screen and (max-width: 1023px) {
  .nav-links {
    display: none;
    padding: 0;
    margin: 0;
  }

  .web-nav-main {
    display: none !important;
  }
}

.headerbar {
  /* width: 100; */
  background-color: #fff;
  align-items: flex-end;
  justify-content: center;
  /* background: linear-gradient(0deg, rgba(60, 72, 82, 0.08), rgba(60, 72, 82, 0.08)), #FFFFFF; */
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0px 4px 12px rgba(60, 72, 82, 0.25);
  z-index: 2;
  height: 64px;
}

.headerbar + :not(amp-sidebar),
.headerbar + amp-sidebar + * {
  margin-top: 3.5rem;
}

.sidebar {
  background-color: #fff;
  min-width: 360px;
  width: 360px;
}

.navbar-trigger {
  cursor: pointer;
  padding-right: 18px;
  margin-left: 2.25%;
}

.label {
  font-size: 18px;
  font-weight: 100;
  letter-spacing: 0.06rem;
  line-height: 1.125rem;
  list-style: none;
  padding: 0;
}

.dropdown > section > header {
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  outline: none;
}

/* .dropdown {
    min-width: 200px
} */

.dropdown.absolute {
  z-index: 100;
}

.nav-item-nav-dropdown {
  margin-top: 3px;
}

.contentcenter {
  display: flex;
  align-items: center;
}

.mobile-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 56px;
}

.mobnav-img {
  /* padding-right: 25.92px; */
  margin-right: auto;
  cursor: pointer;
}

.buttonP {
  background-color: #035642;
  border-radius: 8px;
  width: 140px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  margin-right: 20px;
}

.btnp {
  font-size: 18px;
  font-weight: 600;
  align-items: center;
  text-align: center;
  color: white;
  margin-bottom: 4px;
  text-decoration: none;
}

.headerbar {
  display: flex;
  /* padding: 0.25% 2.5%; */
  flex-direction: column;
}

.nav-links {
  /* flex: 1; */
  text-align: right;
  margin-right: 2.5%;
}

.nav-links ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0px;
  /* justify-content: end; */
  /* margin-right: 44px; */
}

.nav-links ul li {
  color: black;
  list-style: none;
  display: inline-block;
  /* font-size: 30px; */
  cursor: pointer;
  /* padding-right: 10px; */
}

.dropbtn {
  color: #3c4852;
  padding-top: 16px;
  padding-bottom: 16px;
  font-family: 'Source Sans Pro';
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  border: none;
  background-color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.dropdown {
  position: relative;
  display: inline-block;
  justify-items: center;
}

.dropdown-contentheight {
  height: 300px;
}

.dropdown-content {
  border-radius: 8px;
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 220px;
  /* height: 256px; */
  text-align: center;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border: 0.5px solid rgba(60, 72, 82, 0.25);
}

.dropdown-content a {
  color: black;
  font-size: 18px;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  padding: 20px 13px 20px 13px;
  border: 0.5px solid rgba(60, 72, 82, 0.25);
  border-top: #fff;
  border-left: #fff;
  border-right: #fff;
  /* border-bottom: #fff; */
}

.dropdown:hover .dropdown-content {
  display: block;
}

.hide-crs-dd {
  display: none;
}
.dropdown:hover .hide-crs-dd {
  display: block;
}
.dropdown:hover .crs-cls-dd-icon {
  display: none;
}

.sidespacing {
  margin-right: 34px;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

.dropdown1 {
  padding-left: 40px;
  align-items: center;
  justify-content: center;
}

.web-nav-main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.web-nav {
  display: flex;
  margin-right: auto;
  margin-left: 2.5%;
  align-items: center;
}

.btn {
  background-color: #0f5644;
  height: 48px;
  width: 98px;
  border-radius: 8px;
  border: none;
  padding: 0;
}

.btn p {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
}

.btn a {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  text-decoration: none;
}

.btnlogin {
  background-color: #0f5644;
  height: 48px;
  width: 98px;
  border-radius: 8px;
  border: none;
  padding: 0;
}

.btnlogin p {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
}

.btnlogin a {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  text-decoration: none;
}

@media only screen and (max-width: 970px) {
  .dropdown1 {
    padding-left: 30px;
  }
}

@media only screen and (max-width: 917px) {
  .dropdown1 {
    padding-left: 15px;
  }
}

@media only screen and (max-width: 825px) {
  .dropdown1 {
    padding-left: 8px;
  }
}

.rotate {
  transform: rotate(180deg);
}

@media only screen and (max-width: 425px) {
  .certi-mob-div {
    width: 75%;
  }
}

@media only screen and (min-width: 1025px) {
  .award_main {
    margin-top: 91px;
  }

  .award_title {
    font-size: 48px;
  }
  .about_title {
    font-size: 34px;
  }
  .collaboration_text {
    font-size: 34px;
  }
}

@media only screen and (max-width: 1025px) {
  .award_main {
    margin-top: 64px;
  }

  .award_title {
    font-size: 34px;
  }
  .about_title {
    font-size: 34px;
  }

  /* .news_main{
        padding-bottom: 60px;
    } */

  .collaboration_text {
    font-size: 24px;
  }
}

.black-color {
  color: #212a39;
}
.light-black {
  color: rgba(33, 42, 57, 0.75);
}
.h4-bold-font-size {
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
}

.hp-head-top-title {
  color: #ffffff;
  font-size: 34px;
  font-weight: 700;
  line-height: 40px;
  width: 670px;
  min-height: 120px;
}
.hp-head-mid-title {
  margin: 24px 0px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  width: 670px;
}
.batch-starting {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
}
.batch-date {
  margin-top: 4px;
  font-weight: 600;
  font-size: 20px;
}

.hm-pg-mid-sec-title {
  color: #212a39;
  font-size: 38px;
  font-weight: 600;
}

.hp-crs-dropdown {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  align-items: center;
  background-color: #0f5644;
  height: 48px;
  width: 171px;
  border-radius: 8px;
  border: none;
  justify-content: center;
  color: #fff;
  margin-left: 40px;
  cursor: pointer;
}

.mega-menu-overlay {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 65px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9;
  display: none;
}

.hide-crs-dd.d-nonee {
  display: none;
}

.hide-crs-dd {
  display: none;
}
.hp-crs-dropdown:hover .hide-crs-dd {
  display: block;
}

.hp-crs-dropdown:hover .mega-menu-overlay {
  display: block;
  z-index: 99;
}

.mega-menu-overlay:hover .hide-crs-dd {
  display: none;
}

/* .hide-crs-dd:hover .mega-menu-overlay {
  display: block;
  z-index: 99;
} */

/* .mega-menu-overlay:hover .crs-dropdown {
    display: none;
} */

.hp-crs-dropdown:hover .crs-cls-dd-icon {
  display: none;
}

.crs-dropdown {
  color: #212a39;
  margin-left: -152px;
  margin-top: 26px;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(33, 42, 57, 0.15);
  overflow: visible;
  position: fixed;
  width: 90%;
  min-height: 568px;
  height: auto;
  z-index: 999999;
  background: #ffff;
  left: 171px;
}
.crs-ul-list {
  margin: 0px;
  width: 238px;
  padding: 0px;
}

.crs-dropdown ul li {
  padding: 2.5px 16px;
  transition: all 0.2s ease-in-out;
  list-style: none;
}
.crs-main-list {
  color: #212a39;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  padding-left: 10px;
}

.li-nohover {
  pointer-events: none;
  cursor: none;
  color: #212a39;
}

.crs-sublist {
  padding: 16px 0px;
  border: 0;
  left: 228px;
  background: #fff;
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  overflow: hidden;
}
li:hover .crs-sublist {
  /* width: 375px; */
  width: 89%;
  min-height: 568px;
  height: auto;
  color: #212a39;
  overflow: visible;
  /* cursor: initial; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
}
li.active .crs-sublist {
  width: 89%;
  min-height: 568px;
  height: auto;
  overflow: visible;
  color: #212a39;
  /* cursor: initial; */
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.crs-sublist li:hover {
  border-left: none;
  cursor: pointer;
}
.crs-list-txt {
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  color: #212a39;
}
.brs-crs-content {
  max-height: 0px;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  overflow: hidden;
}
.clps-btn {
  position: absolute;
  right: 20px;
  padding-top: 2px;
}
.clps-btn .up-btn {
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.clps-btn-open {
  display: inline-block;
}

.allprogramfinance {
  width: 204px;
  height: 64px;
  background: rgba(0, 164, 142, 0.06);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  color: #3c4852;
}

/* .financeprogram{
    margin-top: 34px;
} */

.allprogramfinance p {
  font-size: 18px;
  line-height: 24px;
  display: flex;
  /* align-items: center; */
  color: inherit;
  margin-left: 10px;
  margin-right: auto;
  font-weight: 600;
}

.allprogramfinance:hover {
  background: #035642;
  color: #fff;
}

.allprogramfinance:active {
  background: #035642;
  color: #fff;
}

.allprogramfinance.active {
  background: #035642;
  color: #fff;
}

.allprogramchange {
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  width: 240px;
  height: 64px;
}

.allprogramchange p {
  margin-left: auto;
  margin-right: auto;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
}

.allprogrammargin {
  margin-left: 32px;
  width: 21%;
}

.allprogrammargin h1 {
  font-size: 16px;
  color: #3c4852;
  margin-bottom: 28px;
  font-weight: 600;
}
.allprogrammargin h2 {
  font-size: 16px;
  color: #3c4852;
  margin-bottom: 28px;
  font-weight: 600;
}
.allprogrammargin2 {
  margin-left: 32px;
  width: 32%;
}

.allprogrammargin3 {
  margin-left: 32px;
  width: 68%;
}

.allprogrammargin2 h1 {
  font-size: 16px;
  color: #3c4852;
  margin-bottom: 28px;
  font-weight: 600;
}
.allprogrammargin2 h2 {
  font-size: 16px;
  color: #3c4852;
  margin-bottom: 28px;
  font-weight: 600;
}
.allprogrammargin3 h1 {
  font-size: 16px;
  color: #3c4852;
  margin-bottom: 28px;
  font-weight: 600;
}
.allprogrammargin3 h2 {
  font-size: 16px;
  color: #3c4852;
  margin-bottom: 28px;
  font-weight: 600;
}
.coursebox {
  /* width: 64px; */
  height: 64px;
  background: rgba(60, 72, 82, 0.06);
  border-radius: 4px;
  margin-right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
}
.coursebox1 {
  /* width: 64px; */
  height: 64px;
  background: rgba(60, 72, 82, 0.06);
  border-radius: 4px;
  margin-right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  object-fit: contain;
}
.coursename {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #3c4852;
  line-height: 22px;
  text-decoration: none;
}
.coursename_m {
  font-style: normal;
  font-weight: 600;
  width: 40%;
  font-size: 16px;
  color: #3c4852;
  line-height: 22px;
  text-decoration: none;
}

.course_link {
  text-decoration: none;
  cursor: pointer;
}

.courseduration {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #3c4852;
  opacity: 0.5;
}

.courseboxmain {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.coursedesc {
  display: flex;
  flex-direction: column;
  width: 70%;
  cursor: pointer;
  justify-content: center;
}

.linksmain {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.linkdesc {
  margin-right: 30px;
}

.linkdesc h1 {
  font-size: 18px;
  font-weight: 600;
  color: #3c4852;
  margin-bottom: 2px;
  line-height: 24px;
}
.linkdesc h2 {
  font-size: 18px;
  font-weight: 600;
  color: #3c4852;
  margin-bottom: 2px;
  line-height: 24px;
}
.linkdesc h3 {
  font-size: 18px;
  font-weight: 600;
  color: #3c4852;
  margin-bottom: 2px;
  line-height: 24px;
}
.linkdesc p {
  font-size: 18px;
  font-weight: normal;
  color: rgba(33, 42, 57, 0.75);
}

.border-bottom {
  border-bottom: 1px solid rgba(60, 72, 82, 0.25);
  padding-bottom: 16px;
}

.explorebutton {
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  /* margin-right: 16px; */
  text-decoration: none;
}

.explorebuttonmain2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 12px;
  padding-right: 12px;
  background: #035642;
  border-radius: 8px;
  width: 235px;
  height: 48px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.explorebuttonmain {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 12px;
  padding-right: 12px;
  background: #035642;
  border-radius: 8px;
  /* width: 196px; */
  height: 48px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.explore-nav {
  background: rgba(0, 164, 142, 0.06);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 20px;
  margin-right: 12px;
}

.explore-text {
  font-size: 18px;
  line-height: 24px;
  color: #3c4852;
  font-weight: normal;
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1300px) {
  .allprogramdisplay {
    display: none;
  }

  .allprogrammargin {
    width: 33.3%;
  }

  .allprogrammargin2 {
    width: 33.3%;
  }

  .allprogrammargin3 {
    width: 68%;
  }

  /* .coursebox {
    width: 32%;
  } */

  .crs-dropdown {
    left: 153px;
    width: 89%;
    min-height: 494px;
  }

  li.active .crs-sublist {
    width: 86%;
    min-height: 494px;
  }

  .explore-nav {
    display: none;
  }

  li:hover .crs-sublist {
    width: 86%;
    min-height: 494px;
  }
}

@media only screen and (min-device-width: 1300px) and (max-device-width: 1350px) {
  .crs-dropdown {
    min-height: 568px;
  }
}

.allProgrammobileclose {
  height: 56px;
  display: flex;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 2px 12px rgba(33, 42, 57, 0.15);
  padding: 0px 16px 0px 16px;
}

.allProgrammobileclose p {
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  color: #3c4852;
  margin-right: auto;
}

.allProgramFinancemob {
  height: 74px;
  width: 100%;
  display: flex !important;
  align-items: center;
  padding: 0px 16px 0px 16px;
  background-color: #fff;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 0.5px solid #ebeced;
  margin-top: 6px;
  padding: 0px 2rem;
}

.allProgramFinancemob p {
  font-weight: 600;
  font-size: 18px;
  color: #3c4852;
  margin-right: auto;
}

.mobilefinance {
  margin-right: 16px;
}

.mobileCourse {
  /* padding: 0px 16px 0px 16px; */
}

.mobileCourseheading {
  font-size: 16px;
  line-height: 20px;
  color: #3c4852;
  text-decoration: none;
  font-weight: 500;
}

.coursebox2 {
  width: 64px;
  height: 64px;
  /* background: rgba(60, 72, 82, 0.06); */
  border-radius: 4px;
  margin-right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7px;
}

.mobileplogo {
  border-radius: 4px;
}

.courseboxmain2 {
  margin-top: 16px;
}

.mobileCoursediv {
  /* border-bottom: 0.5px solid #ebeced; */
  margin-top: 10px;
  padding: 0px 1rem;
}

.mobilelogin {
  width: 328px;
  height: 48px;
  background: #0f5644;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

.mobilelogin a {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
}

.mobileloginbutton {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.allprogramwidth {
  width: 23%;
}

.rotate4 {
  transform: rotate(90deg);
}

.navlink_border_bottom {
  border-bottom: 0.5px solid #ebeced;
  padding: 0px 1rem 0px 0px;
}

.sprite {
  background: url(https://cdn.pegasus.imarticus.org/imarticus_2/allprogrambutton/sprite.png)
    no-repeat top left;
  width: 64px;
  height: 64px;
}

.sprite.whitearrow {
  background-position: 0 0;
  width: 9px;
  height: 15px;
}
.sprite.blackarrow {
  background-position: -19px 0;
  width: 9px;
  height: 15px;
}
.sprite.circlearrow {
  background-position: -38px 0;
  width: 32px;
  height: 32px;
}
.sprite.money {
  background-position: -80px 0;
  width: 32px;
  height: 32px;
}
.sprite.graph {
  background-position: -122px 0;
  width: 32px;
  height: 32px;
}
.sprite.uclalogo {
  background-position: -164px 0;
}
.sprite.rocket {
  background-position: -238px 0;
  width: 32px;
  height: 32px;
}
.sprite.brain {
  background-position: -280px 0;
  width: 32px;
  height: 32px;
}
.sprite.digitaslogo {
  background-position: -322px 0;
}
.sprite.jainlogo {
  background-position: -396px 0;
}
.sprite.kpmglogo {
  background-position: -470px 0;
}
.sprite.moodylogo {
  background-position: -544px 0;
}
.sprite.bimtechlogo {
  background-position: -618px 0;
}
.sprite.imarticuslogo {
  background-position: -692px 0;
}
.sprite.spjainlogo {
  background-position: -766px 0;
}
.sprite.nmimslogo {
  background-position: -840px 0;
}
.sprite.iitguwahatilogo {
  background-position: -914px 0;
}
.sprite.iitroorkee {
  background-position: -988px 0;
}
.sprite.iimlogo {
  background-position: -1062px 0;
}
.sprite.lselogo {
  background-position: -1136px 0;
}

.iimcalcutta2 {
  background: url(https://cdn.pegasus.imarticus.org/imarticus_2/iimcalcuttabigsquare.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 84%;
}

.iimlucknow2 {
  background: url(https://cdn.pegasus.imarticus.org/imarticus_2/allprogrambutton/iimlogo.png);
  background-repeat: no-repeat;
  background-position: center;
}

.floter {
  width: 100%;
  background-color: #fff;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  z-index: 100;
  gap: 24px;
  overflow: hidden;
}

.show {
  opacity: 1;
}

.hide {
  display: none;
}

.floater_button1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
  background: #035642;
  border: none;
  border-radius: 8px;
  width: 232px;
  text-decoration: none;
  height: 48px;
  cursor: pointer;
}

.floater_button2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
  border: 1px solid #014644;
  background: #fff;
  border-radius: 8px;
  width: 232px;
  cursor: pointer;
  text-decoration: none;
  height: 48px;
}

.floater_button3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
  background: #4caf50;
  border: none;
  border-radius: 8px;
  width: 232px;
  height: 48px;
  text-decoration: none;
  cursor: pointer;
}

.floater_button1 p {
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}
.floater_button2 p {
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  color: #014644;
}
.floater_button3 p {
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.floter_mobile {
  width: 100%;
  background-color: #fff;
  height: 64px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  z-index: 100;
  overflow: hidden;
  gap: 8px;
}

.floater_button_mob1 {
  width: 160px;
  height: 48px;
  border-radius: 8px;
  background: #035642;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: none;
  gap: 16px;
}

.floater_button_mob2 {
  width: 160px;
  height: 48px;
  border-radius: 8px;
  background: #4caf50;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: none;
  gap: 16px;
}

.floater_button_mob1 p {
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.floater_button_mob2 p {
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.mobileCoursediv li {
  list-style: none;
  text-decoration: none;
  margin-bottom: 10px;
}

.mobileCoursediv li a {
  text-decoration: none;
}

@media screen and (min-width: 769px) {
  .floter_mobile {
    display: none;
  }
}

@media screen and (max-width: 769px) {
  .floter {
    display: none;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1300px) {
  .navlinkhidden {
    display: none;
  }
}

.mobile_link {
  font-size: 18px;
  color: #3c4852;
  margin-right: auto;
  font-weight: 600;
  text-decoration: none;
}

amp-accordion > section[expanded] > :last-child {
  border-top: 0.5px solid #ebeced;
}

/* .advertisement {
    z-index: 1;
    transition: all 1s;
}
.hide {
    opacity:0;
    bottom:-100%;
}
.show {
    opacity:1;
    bottom:0;
} */

.spritenewlogo {
  background: url(https://cdn.pegasus.imarticus.org/imarticus_2/allprogrambutton/spritenewlogo.webp)
    no-repeat top left;
  background-size: cover;
}
.spritenewlogo.kpmg-logo {
  background-position: 0 0;
}
.spritenewlogo.iitr-logo {
  background-position: -66px 0;
}
.spritenewlogo.spjain-logo {
  background-position: -130px 0;
}
.spritenewlogo.lse-logo {
  background-position: -194px 0;
}
.spritenewlogo.iim-lucknow {
  background-position: -258px 0;
}
.spritenewlogo.imarticus-logo {
  background-position: -322px 0;
}
.spritenewlogo.moody-logo {
  background-position: -386px 0;
}
.spritenewlogo.iitg-logo {
  background-position: -453px 0;
}
.spritenewlogo.iimc-logo {
  background-position: -517px 0;
}
.spritenewlogo1 {
  background: url(https://cdn.pegasus.imarticus.org/iit_roorkee/iHUb_mini_logo.png);
}
.spritenewlogoIimIndore {
  background: url('https://cdn.pegasus.imarticus.org/iim_indore/logo.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #f3f4f5;
  object-fit: contain;
  padding: 4px;
}

.euronextgroup {
  background: url(https://cdn.pegasus.imarticus.org/imarticus_2/euronextnav.webp);
  background-size: contain;
  background-position: center;
}

.offcanvas.offcanvas-end.show {
  width: 360px;
}

.offcanvas-header {
  height: 56px;
  display: flex;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 2px 12px rgb(33 42 57 / 15%);
  padding: 0px 16px 0px 16px;
}

.offcanvas-title {
  font-weight: 600 !important;
  font-size: 24px !important;
  line-height: 24px !important;
  color: #3c4852;
  margin-right: auto;
}

.allProgramFinancemob2 {
  width: 360px;
  align-items: center;
  background-color: #fff;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-top: 6px;
  font-weight: 600;
  font-size: 18px;
  color: #3c4852;
  border: none !important;
  padding: 0px 1rem;
}

.allProgramFinancemob3 {
  width: 360px;
  align-items: center;
  background-color: #fff;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-top: 6px;
  font-weight: 600;
  font-size: 18px;
  color: #3c4852;
  border: none !important;
  padding: 0px 1rem;
}

.accordion-button:not(.collapsed) {
  /* color: #3c4852 !important; */
  background-color: transparent !important;
  box-shadow: none !important;
}

.accordion-button {
  font-weight: 600 !important;
  font-size: 18px !important;
  color: #3c4852 !important;
}

.accordion-item {
  border-bottom: 0.5px solid #ebeced !important;
}

.accordion-button:focus {
  border-color: #fff !important;
}

.accordion-button:not(.collapsed) {
  border-bottom: 0.5px solid #ebeced !important;
}

.accordion-body {
  padding: 0px !important;
}

.accordion-button::after {
  background-image: url(https://cdn.pegasus.imarticus.org/imarticus_2/chevron-updark.svg) !important;
}

.offcanvas-start {
  width: 360px !important;
}

.navbar-drop-down-text {
  margin-bottom: 0px;
  font-weight: 600;
  font-size: 18px;
  color: #3c4852;
}

.offcanvas-body {
  padding: 0px !important;
}

.allProgramFinancemob3 .accordion-header .accordion-button {
  font-size: 18px !important;
  color: #3c4852 !important;
  font-weight: 600 !important;
}

.course_link:hover {
  color: #3c4852;
}

.dropbtn:hover {
  color: #3c4852;
}

.explorebutton:hover {
  color: #fff;
}

.domainbtnf {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.domainbtnf:hover {
  background-color: transparent !important;
}

.quicklinkanchor {
  text-decoration: none;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

h1 {
  font-size: 32px;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: 'Source Sans Pro';
}

h2 {
  font-size: 24px;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: 'Source Sans Pro';
}

h3 {
  font-size: 18.72px;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: 'Source Sans Pro';
}

h4 {
  font-size: 16px;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: 'Source Sans Pro';
}

h5 {
  font-size: 13.28px;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: 'Source Sans Pro';
}

h6 {
  font-size: 12px;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: 'Source Sans Pro';
}

p {
  font-size: 16px;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: 'Source Sans Pro';
  margin-bottom: 0px !important;
}

a {
  font-size: 16px;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: 'Source Sans Pro';
}
