.sale-banner {
  display: flex;
  justify-content: center;
  margin-bottom: 104px;
}

@media screen and (min-width: 768px) {
  .mobiledev {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .saleweb {
    display: none;
  }
}
