.testimonials {
  color: white;
  background: #0177a0;
  /* background-size: 135%; */
}

.testimonials3 {
  color: white;
  background: #0177a0;
}

.testimonials .desc {
  font-size: 24px;
  /* line-height: 32px; */
  /* max-width: 772px; */
  font-weight: normal;
  margin-top: 24px;
  margin-bottom: 48px;
  text-align: center;
}
.testimonials .row {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 3rem;
  justify-content: center;
  /* justify-content: space-evenly; */
}
.testimonials .card {
  width: 270px;
  height: 270px;
  background: #ffffff;
  border-radius: 8px;
  padding: 15px;
  color: black;
  text-align: initial;
  position: relative;
}
.testimonials .topRow {
  display: flex;
  flex-direction: row;
  gap: 0 10px;
}
.testimonials .dp {
  position: relative;
  border-radius: 50%;
  width: 64px;
  height: 64px;
}
.testimonials .badge {
  position: absolute;
  bottom: 0;
  right: 0;
}
.testimonials .credentials {
  gap: 4px;
  display: flex;
  flex-direction: column;
}
.testimonials .credentials h6 {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: rgba(60, 72, 82, 1);
  margin-top: -4px;
  margin-bottom: 0px;
}
.testimonials .credentials p {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: rgba(71, 195, 207, 1);
}
.testimonials .comment {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #3c4852;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-top: 0.6rem;
  text-align: initial;
}
.testimonials .comment + div {
  margin-top: 1rem;
  position: absolute;
  bottom: 8px;
}
.testimonials .cta-white {
  margin: 0 auto;
  width: 225px;
  height: 56px;
}
@media (max-width: 450px) {
  .testimonials .card {
    overflow: scroll;
  }
  .testimonials .desc {
    font-size: 20px;
    line-height: 25px;
  }
  .studentreviewrating {
    margin-top: -4px;
  }
}

.testimonial_crousel_paginationand
  > .swiper-pagination
  > .swiper-pagination-bullet {
  background: #fff;
}

.testimonial_crousel_paginationand > .swiper-button-prev {
  height: 100% !important;
  top: 0% !important;
  background: linear-gradient(
    90deg,
    #0177a0 4.96%,
    rgba(1, 119, 160, 0.710417) 21.59%,
    rgba(1, 119, 160, 0.442444) 36.79%,
    rgba(1, 119, 160, 0) 59.93%
  );
  width: 100px !important;
  left: -9px !important;
  display: none !important;
}

.testimonial_crousel_paginationand > .swiper-button-next {
  height: 100% !important;
  top: 0% !important;
  background: linear-gradient(
    90deg,
    #0177a0 4.96%,
    rgba(1, 119, 160, 0.710417) 21.59%,
    rgba(1, 119, 160, 0.442444) 36.79%,
    rgba(1, 119, 160, 0) 59.93%
  );
  transform: matrix(-1, 0, 0, 1, 0, 0);
  width: 100px !important;
  right: -9px !important;
  display: none !important;
}

@media screen and (max-width: 1023px) {
  .swiper:hover .swiper-button-next {
    display: none !important;
  }

  .swiper:hover .swiper-button-prev {
    display: none !important;
  }
}

.formerstundet_bottom {
  margin-top: 40px;
}

.sliders {
  position: absolute;
  width: 25%;
  height: 100%;
  background: #fff;
  border-radius: 32px;
  transition: all 0.3s;
}

.sliders0 {
  left: 0;
}
.sliders1 {
  left: 12.5%;
}
.sliders2 {
  left: 25%;
}
.sliders3 {
  left: 37.5%;
}
.sliders4 {
  left: 50%;
}
.sliders5 {
  left: 62.5%;
}
.sliders6 {
  left: 75%;
}
.sliders7 {
  left: 87.5%;
}

.testimonal-carousal {
  width: 100%;
}
.title {
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: rgba(60, 72, 82, 1);
}
.title-small {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
}

.title-small2 {
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 38px;
  text-align: center;
  margin-bottom: 0px;
}

.title_desc {
  font-size: 24px;
  font-weight: 400;
  margin-top: 24px;
  margin-bottom: 56px;
  text-align: center;
}

.title_heading {
  width: 100%;
}

@media only screen and (min-width: 1023px) {
  .testimonal-carousal {
    display: none;
  }

  .testimonial-main {
    padding: 80px 0%;
  }
}

@media only screen and (min-width: 1300px) {
  .title_heading {
    padding: 0px 4%;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .testimonial-main {
    padding: 64px 0%;
  }
}

@media screen and (max-width: 768px) {
  .testimonial-main {
    padding: 48px 0%;
  }

  .title-small2 {
    font-size: 28px;
    line-height: 34px;
    text-align: initial;
  }

  .title_desc {
    font-size: 18px;
    text-align: initial;
    font-weight: normal;
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 1023px) {
  .testimonials .row {
    display: none;
  }

  .title-small {
    font-size: 34px;
    text-align: initial;
    line-height: 36px;
    margin-bottom: 24px;
  }

  .testimonials .desc {
    margin-bottom: 32px;
  }

  .testimonials .desc2 {
    margin-bottom: 0px;
  }

  /* .testimonial-main{
      margin-top: 50px;
      margin-bottom: 50px;
    } */

  .desc {
    font-size: 18px;
  }

  .testimonials .desc {
    font-size: 18px;
    /* line-height: 32px; */
    max-width: 772px;
    font-weight: normal;
    margin-top: 0px;
    text-align: initial;
  }
}

.card_main {
  width: 290px;
  overflow: auto;
}

.mobilewebcontrols {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 20px;
}

.studentreviewrating {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #3c4852;
  padding-left: 4px;
  margin-top: -4px;
}

@media screen and (max-width: 768px) {
  .mobilewebcontrols {
    justify-content: center;
  }
}

.testimonial-crousel-swiper > .swiper-pagination > .swiper-pagination-bullet {
  background: #fff;
}
