.mainComponent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 152px;
  column-gap: 52px;
  align-items: baseline;
  max-width: 1500px;
  margin: 0 auto;
}

.illustraterimage {
  height: 346px;
  width: 541.61px;
  position: relative;
}

.tagline {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #3c4852;
  margin-bottom: 48px;
  padding: 0 15%;
}

.illustraterdiv {
  width: 40%;
}

.formboxheading {
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #3c4852;
  padding-bottom: 32px;
}

.formboxcontainer {
  background: #ffffff;
  border: 1px solid rgba(60, 72, 82, 0.5);
  border-radius: 8px;
  padding: 32px 18px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.bottomtagline {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #3c4852;
  margin-bottom: 24px;
}

.bottomtagdiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 64px;
}

.sociallinkdiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}

.thankyouinput {
  width: 534px;
  height: 48px;
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  border: none;
}

.thankyouinput::placeholder {
  color: rgba(60, 72, 82, 0.5);
}

.thankyouinput {
  -webkit-appearance: none;
  -moz-appearance: none;
}

.thankyouinput:focus-visible {
  outline: 1px solid rgba(60, 72, 82, 0.12) !important;
}

.thankyouinputarrow {
  background-image: url(https://cdn.pegasus.imarticus.org//thank_you/chevron-up.svg) !important;
  background-position: 99% !important;
  background-repeat: no-repeat !important;
}

.form_input {
  font-size: 16px;
  padding: 6px 12px;
  background-image: none;
  border-radius: 4px;
  background: rgba(60, 72, 82, 0.06);
  /* color: rgba(60, 72, 82, 0.5); */
}

.thanksubmitbtn {
  width: 402px;
  height: 56px;
  background: #035642;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  border-radius: 8px;
  outline: none;
  border: none;
  cursor: pointer;
  font-weight: 600;
  line-height: 25px;
}

.thankyouinputlight {
  color: rgba(60, 72, 82) !important;
}

.thankyouinputdark {
  color: rgba(60, 72, 82, 0.5) !important;
}

@media only screen and (min-device-width: 1023px) and (max-device-width: 1250px) {
  .thankyouinput {
    width: 400px;
  }
}

@media screen and (max-width: 1023px) {
  .mainComponent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 152px;
    align-items: center;
  }

  .illustraterdiv {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .formboxcontainer {
    margin-top: 40px;
  }

  .formMainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (min-device-width: 600px) and (max-device-width: 1024px) {
  .mainComponent {
    padding-top: 96px;
  }
}

@media screen and (max-width: 600px) {
  .thankyouinput {
    width: 308px;
    margin-right: 0px;
  }

  .illustraterimage {
    width: 308.59px;
    height: 196.67px;
  }

  .tagline {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 32px;
  }

  .mainComponent {
    padding-top: 88px;
  }

  .form-submit-text {
    font-size: 18px;
  }
}

@media screen and (max-width: 450px) {
  .tagline {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 32px;
  }

  .mainComponent {
    padding-top: 88px;
  }

  .form-submit-text {
    font-size: 18px;
  }

  .thanksubmitbtn {
    width: 308px;
  }
}
